@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container {
  text-align: center;
  margin-left: -17%; /* Abstand zur linken Seite anpassen */
  max-width: 30%; /* Maximale Breite des Containers */
  min-width: 30%; /* Maximale Breite des Containers */
}

.title {
    font-family: 'Roboto', sans-serif;
  color: rgb(1, 255, 158);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  margin-left: -3%;
}

.separator {
  content: "";
  height: 5px;
  width: 60%;
  display: block;
  left: 0;
  right: 0;
  border-radius: 50%;
  align-content: center;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0.014443277310924318) 0%, rgba(140,140,140,1) 33%, rgba(181,181,181,1) 66%, rgba(255,255,255,0) 100%);
  
  bottom: 0;
  margin-left: 18%;
}
.separator2 {
  content: "";
  height: 5px;
  width: 30%;
  display: block;
  left: 0;
  right: 0;
  align-content: center;
  background: rgb(1, 255, 158);
  box-shadow: 0px 5px 30px #01ff9e, 0px -5px 30px #01ff9e;
  margin-left: 33%;
  margin-top: -0.9%;
}


.content {
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    margin-left: 29%;
    border-radius: 10px;
    border: 1px solid rgb(128, 128, 128);
    background-color: rgba(109, 109, 109, 0.397);
    max-width: 30%; /* Maximale Breite des Containers */
    min-width: 20%; /* Maximale Breite des Containers */
    font-size: 16px;
    overflow-wrap: break-word;
    padding: 5%;
    color: white;
}